/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common Styles Utilities */

body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;


}

main {
    /* width: 1024px; */
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 30px;


}

/* Top Part style */
.top {
    margin-bottom: 100px;
}

.top-container {
    background-color: #161616;
    border-radius: 30px;
    display: flex;

}

.top-container-right,
.top-container-left {
    padding: 20px;
    margin-right: 24px;
    margin-left: 10px;
    width: 50%;
}

.top-container-right h1,
p,
button {
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
}

.top-container-right p {
    font-weight: 400;
    font-size: 16px;
}

.top-container-right button {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    border: none;
}

.top-container-left {
    margin-top: 230px;
}

.top-container-left img {
    margin-right: 20px;
    width: 100%;
}

/* mid part  */
.mid {
    display: flex;
}

.aside-menu {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.aside-menu aside {
    padding: 20px;
}

.aside-menu aside a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 10px;
    width: 200px;
}

.aside-menu aside a.active {
    background-color: #DD0000;
    font-weight: 600;
    color: #FFFFFF;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-left: 10px;
}

.blog {
    /* width: 30%; */
    border: 1px solid rgba(120, 119, 119, .7);
    border-radius: 5px;
    margin-bottom: 10px;
}

.blog-image img {
    width: 100%;
    border-radius: 5px;

}

.blog-details {
    padding: 10px;
}

.blog-details button {
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    background-color: #FFFFFF;
    border: 1px solid #161616;
    padding: 5px 10px;
    border-radius: 5px;
}

.blog-details h3 {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.duration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

/* .duration img {
    width: 24px;
} */

.duration button {
    border: none;
    color: rgba(120, 119, 119, .7);
}

.duration p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(120, 119, 119, .7);
}

.time,
.comment {
    display: flex;
    align-items: center;

}