/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common Styles Utilities */

body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;


}

main {
    /* width: 1024px; */
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 30px;
    margin-bottom: 100px;


}

/* Top Part style */
.top {
    margin-bottom: 100px;
}

.top-container {
    background-color: #161616;
    border-radius: 30px;
    display: flex;

}

.top-container-right,
.top-container-left {
    padding: 20px;
    margin-right: 24px;
    margin-left: 10px;
    width: 50%;
}

.top-container-right h1,
p,
button {
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
}

.top-container-right p {
    font-weight: 400;
    font-size: 16px;
}

.top-container-right button {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    border: none;
}

.top-container-left {
    margin-top: 230px;
}

.top-container-left img {
    margin-right: 20px;
    width: 100%;
}

/* mid part  */
.mid {
    display: flex;
}

.aside-menu {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.aside-menu aside {
    padding: 20px;
}

.aside-menu aside a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 10px;
    width: 200px;
}

.aside-menu aside a.active {
    background-color: #DD0000;
    font-weight: 600;
    color: #FFFFFF;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    margin-left: 10px;

}

.blog {
    /* width: 30%; */
    border: 1px solid rgba(189, 183, 183, 0.7);
    border-radius: 5px;
    margin-bottom: 10px;
}

.blog-image img {
    width: 100%;
    border-radius: 5px;

}

.blog-details {
    padding: 10px;
}

.blog-details button {
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    background-color: #FFFFFF;
    border: 1px solid #161616;
    padding: 5px 10px;
    border-radius: 5px;
}

.blog-details h3 {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.duration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

/* .duration img {
    width: 24px;
} */

.duration button {
    border: none;
    color: rgba(120, 119, 119, .7);
}

.duration p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(120, 119, 119, .7);
}

.time,
.comment {
    display: flex;
    align-items: center;

}

.view-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-tablet button {
    display: none;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
    background-color: #DD0000;
    border: none;
    border-radius: 10px;
    align-content: center;

}

/* footer */

footer {
    background-color: #161616;
}

.footer-head h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

footer hr {
    align-items: center;
    width: 70%;
    border: 1px solid #b9b9b9;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    align-content: center;

}

.footer-menu p {
    font-size: 16px;
    font-weight: 500;
    color: #b9b9b9;
}

.footer-icon-social {
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.footer-icon-social a {
    text-decoration: none;
    align-content: center;
    color: #FFFFFF;
    margin: 30px;
}

/* upcoming match */
/* Matchs part */
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    margin-left: 10px;
}

.match {
    border: 1px solid rgba(189, 183, 183, 0.7);
    border-radius: 5px;
}

.match-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-image img {
    width: 90px;
    height: 55px;
    border-radius: 5px;
}

.match-image h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #161616;
}

.match-title h3 {
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
    color: #161616;
}

.match-time p {
    font-size: 16px;
    font-weight: 400;
    color: #4d4d4d;
    text-align: center;
}


/* responsive */

/* tablet */
@media screen and(min-width: 577px) and(max-width: 992px) {
    main {
        /* width: 1024px; */
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    /* Top Part style */
    .top {
        margin-bottom: 50px;
    }

    .top-container {
        background-color: #161616;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .top-container-right h1,
    p,
    button {
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
    }

    .top-container-right p {
        font-weight: 400;
        font-size: 14px;
    }

    .top-container-left img {
        margin-right: 20px;
        width: 100%;
    }

    /*  */




    /* mid part  */
    .mid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aside-menu {

        background-color: #FFFFFF;
    }

    .aside-menu aside {
        padding: 20px;
    }

    .aside-menu aside a {
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 14px 16px;
        font-weight: 500;
        font-size: 20px;
        color: #161616;
        background-color: #FFFFFF;
        margin: 20px;
        border-radius: 10px;
        width: 200px;
    }

    .aside-menu aside a.active {
        background-color: #DD0000;
        font-weight: 600;
        color: #FFFFFF;
    }


    .blogs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 20px;
        margin-left: 10px;

    }

    .blog {
        /* width: 30%; */
        border: 1px solid rgba(189, 183, 183, 0.7);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .blog-image img {
        width: 100%;
        border-radius: 5px;

    }

    .blog-details {
        padding: 10px;
    }

    .blog-details button {
        font-size: 16px;
        font-weight: 500;
        color: #161616;
        background-color: #FFFFFF;
        border: 1px solid #161616;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .blog-details h3 {
        font-size: 18px;
        font-weight: 600;
        color: #161616;
    }

    .duration {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    /* .duration img {
        width: 24px;
    } */

    .duration button {
        border: none;
        color: rgba(120, 119, 119, .7);
    }

    .duration p {
        font-size: 16px;
        font-weight: 400;
        color: rgba(120, 119, 119, .7);
    }

    .time,
    .comment {
        display: flex;
        align-items: center;

    }

    .view-tablet {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .view-tablet button {
        display: none;
        margin-top: 50px;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        padding: 15px;
        color: #FFFFFF;
        background-color: #DD0000;
        border: none;
        border-radius: 10px;
        align-content: center;

    }

    /* footer */

    footer {
        background-color: #161616;
    }

    .footer-head h2 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        color: #FFFFFF;
        padding: 20px;
    }

    footer hr {
        align-items: center;
        width: 70%;
        border: 1px solid #b9b9b9;
    }

    .footer-menu {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;
        align-content: center;

    }

    .footer-menu p {
        font-size: 16px;
        font-weight: 500;
        color: #b9b9b9;
    }

    .footer-icon-social {
        display: flex;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
    }

    .footer-icon-social a {
        text-decoration: none;
        align-content: center;
        color: #FFFFFF;
        margin: 30px;
    }

    /* upcoming match */
    /* Matchs part */
    .matches {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 20px;
        margin-left: 10px;
    }

    .match {
        border: 1px solid rgba(189, 183, 183, 0.7);
        border-radius: 5px;
    }

    .match-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .match-image img {
        width: 90px;
        height: 55px;
        border-radius: 5px;
    }

    .match-image h3 {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #161616;
    }

    .match-title h3 {
        font-size: 20px;
        font-weight: 600px;
        text-align: center;
        color: #161616;
    }

    .match-time p {
        font-size: 16px;
        font-weight: 400;
        color: #4d4d4d;
        text-align: center;
    }

}

/* mobile */
@media screen and(max-width: 576px) {}